.portfolio {
    width: 75%;
    height:500px;
    position: absolute;
    top:1100px; 
    margin-left: 216px;
    margin-right: 10px;
    padding-top: 20px;

    box-shadow: 0px 2px 4px rgba(50, 49, 49, 0.344);
 
    
}



.d-block w-100 img {
    width: 100px;
    margin-left: -15px;
    padding-top: 23%;

}

.portfolio h1{
    text-align: center;
    border-bottom: 2px solid rgb(157, 54, 75);
    padding-bottom: 0 px;
    margin-bottom: 36px;
    width: 141px;
    margin-left: 373px;
    
   
}

