.register{
    width: 100%;
    height: 100vh;
   background-image: url("./bg2.jpg");
   background-repeat: no-repeat;
   background-size: cover;

   
}

.form{

    width: 35%;
    height: 450px;
    position: absolute;
    top:150px;
    margin-left: 466px;
    background-color: rgb(34, 34, 34);
    border-radius: 12px;
    opacity:0.6;
}


.form1{
    width: 75%;
    height:50px;
    display: block;
    border-radius: 100px;
    margin-bottom: 5px;
    margin-left: 52px;
    margin-top: 22px;

}

.form2{
    width: 75%;
    height:50px;
    display: block;
    border-radius: 100px;
    margin-bottom: 5px;
    margin-left: 52px;
    margin-top: 5px;
}
.form3{
    width: 75%;
    height:50px;
    display: block;
    border-radius: 100px;
    margin-bottom: 5px;
    margin-left: 52px;
    margin-top: 5px;
}
.form4{
    width: 75%;
    height:50px;
    display: block;
    border-radius: 100px;
    margin-bottom: 5px;
    margin-left: 52px;
    margin-top: 5px;
}

